<div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> <i class="fa fa-cutlery"></i> Thandoori</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--            <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Change Passowrd</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>-->

            <!-- login button -->
            <button type="button" class="btn btn-success navbar-btn btn-md navbar-right" data-target="#login-modal" data-toggle="modal">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{loginUser}}
            </button>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- hidden fields to store modal result in -->
<input type="hidden" id="main-username">
<input type="hidden" id="main-result">

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header login_modal_header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
            </div>
            <div class="modal-body login-modal">
                <div class="clearfix"></div>
                <div id='social-icons-container'>
                    <div ng-controller="loginController" class='modal-body-left'>
                        <div class="form-group">
                            <input type="text" ng-model="username" id="username" placeholder="Enter your name" value="" class="form-control login-field">
                            <i class="fa fa-user login-field-icon"></i>
                        </div>

                        <div class="form-group">
                            <input type="password" ng-model="loginpass" id="login-pass" placeholder="Password" value="" class="form-control login-field">
                            <i class="fa fa-lock login-field-icon"></i>
                        </div>

                        <a href="#" ng-click="loginClicked()" class="btn btn-success modal-login-btn">Login</a>
                        <div ng-hide="loginStatus" class="bg-danger" id="loginResponse">{{loginMessage}}</div>
                        <a href="#" class="login-link text-center">Lost your password?</a>

                    </div>

                    <div class='modal-body-right'>
                        <div class="modal-social-icons">
                            <a href='#' class="btn btn-default facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
                            <a href='#' class="btn btn-default twitter"> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
                            <a href='#' class="btn btn-default google"> <i class="fa fa-google-plus modal-icons"></i> Sign In with Google </a>
                            <a href='#' class="btn btn-default linkedin"> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
                        </div>
                    </div>
                    <div id='center-line'> OR </div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group modal-register-btn">
                    <button class="btn btn-default"> New User Please Register</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer login_modal_footer">
            </div>
        </div>
    </div>
</div>
    <div ng-controller="logoutController">
    <div class="modal fade" ng-show="isActive" id="logout-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header login_modal_header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" id="LogoutModalLabel">Aren't you hungry?</h2>
                </div>
                <div class="modal-body login-modal">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>